body{
    font-family: 'Poppins';
    margin: 0 200px;
}

.part{
    margin-top: 10em;
    padding: 3em 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header a{
    text-decoration: none;
}

.header .text-logo {
    text-align: left;
}

.main-menu{
    width: fit-content;
    align-self: center;
}

.main-menu a{
    color: #686565;
}

.text-logo{
    font-weight: bold;
    font-size: 48px;
    color: #0E0578;
    text-decoration: none;
}

.fitter{
    align-self: center;
}

.home{
    display: flex;
}

.my-photo{
    max-width: 50%;
    height: fit-content;
    align-self: center;
}

.text-section{
    display: grid;
    align-content:center;
    text-align:left;
}

.text-section p{
    margin: 0;
}

.category-header{
    color: #2000E7;
    font-weight: 700;
    font-size: 48px;
}

.welcome-text{
    color: #2000E7;
    font-size: 30px;
}

.designed{
    color: #F2BD00;
}

.home.welcome-header {
    max-width: 100%
}

.my-projects{
    background-color: #FFD69633;
    display: block;
}
.my-projects .text-section {
    text-align: center;
}

.contact-me{
    background-color: #43BAFD0F;
}

.contact-me .text-section {
    text-align: center;
    width: 100%;
}

.grid{
    box-sizing: content-box;
    display: grid;
    margin: 2em 0em;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3em;
}

.grid-item{
    align-self: center;
    justify-self: center;
}

.juggler-photo{
    max-width: 70%;
    height: fit-content;
    align-self: center;
}

/* CONTACT-ME */
.contact-me{
    display: block;
}

.flex-wrapper{
    display: flex;
    align-content:center;
}

.contact-form{
    display: grid;
    width: 100%;
    align-self: center;
}

.contact-form input{
    width: auto;
    height: 4em;
    margin: 2em 0;
    padding: 0 2em;
}

.contact-button{
    justify-self:center;
    background-color: white;
    height: 4em;
    width: 12em;
    font-size: medium;
}

.contact-form .message{
    overflow: hidden;
    font-family: 'Poppins';
    text-align: start;
    width: auto;
    min-height: 8em;
    margin: 2em 0;
    padding: 1em 2em;
    resize: none;
}

.programmer{
    height:fit-content;
    max-width:60%;
}



/* FOOTER */

.footer{
    display:block;
    background-color: #FFD69633;
}
.upper-footer{
    display:flex;
}
.line{
}

